services:
  frontend:
    image: node:20-alpine
    command: sh -c "npm install && npm run dev"
    working_dir: /app
    volumes:
      - ../apps/frontend:/app
    ports:
      - '3001:3000'
    environment:
      - NEXT_PUBLIC_API_BASE=http://localhost:8000

  api:
    build: ../apps/api
    working_dir: /app
    volumes:
      - ../apps/api:/app
    ports:
      - '8000:8000'
    environment:
      - ORACLE_DSN=203.234.62.84:1521/FREEPDB1
      - ORACLE_USER=admin
      - ORACLE_PASSWORD=1234

  ai:
    build: ../services/ai
    working_dir: /app
    volumes:
      - ../services/ai:/app
    ports:
      - '9000:9000'
    environment:
      - ORACLE_DSN=203.234.62.84:1521/FREEPDB1
      - ORACLE_USER=admin
      - ORACLE_PASSWORD=1234
      - BACKEND_API_URL=http://localhost:8000

#  oracle:
#    image: gvenzl/oracle-free:23-slim
#    environment:
#      - ORACLE_PASSWORD=1234
#    ports:
#      - '1521:1521'
#      - '5500:5500'
#    volumes:
#      - oracle-data:/opt/oracle/oradata

#volumes:
#  oracle-data: